In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("customer_reviews.csv", index_col=0)

1. Ingest and process the customer reviews dataset

In [2]:
df.head()

                                       reviewContent  rating
0  Let me begin by saying that there are two kind...       5
1  The only place inside the Loop that you can st...       3
2  I have walked by the Tokyo Hotel countless tim...       5
3  If you are considering staying here, watch thi...       1
4  This place is disgusting, absolutely horrible,...       3

2. Create a binary class target column called pos_rev that is 1 if the rating is 4 or 5 and 0 otherwise. Set this as the target column (i.e. y).

In [5]:
df["pos_rev"]= np.where(df["rating"] >= 4, 1, 0)
df.head()

                                       reviewContent  rating  pos_rev
0  Let me begin by saying that there are two kind...       5        1
1  The only place inside the Loop that you can st...       3        0
2  I have walked by the Tokyo Hotel countless tim...       5        1
3  If you are considering staying here, watch thi...       1        0
4  This place is disgusting, absolutely horrible,...       3        0

In [6]:
df["pos_rev"].value_counts()

pos_rev
1    1550
0     950
Name: count, dtype: int64

3. Split the data into train and test sets with an 80/20 split.

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
y = df["pos_rev"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df["reviewContent"],
                                                   y,
                                                   test_size=0.20,
                                                   random_state=987)

4. Transform text using sklearn's CountVectorizer as a method of feature extraction. Explain how CountVectorizer works. How does it transform the text into numeric values?

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
vec= CountVectorizer()
X_train_vectorized = vec.fit_transform(X_train.values)
X_test_vectorized = vec.transform(X_test.values)

In [12]:
print(f"Samples (documents): {X_train_vectorized.shape[0]}")
print(f"Features: {X_test_vectorized.shape[1]}")

Samples (documents): 2000
Features: 11875